body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  font-size: 1em;
  color: #40514E;
}

a[href^=tel] {
  text-decoration:inherit;
  color: inherit;
}

hr {
  border-style: none;
  border-top: 8px dotted #d6d4c0;
  /* height: 6px; */
  width: 40px;
  padding: 15px;
  margin: 100px auto 92px auto;
}

h1 {
  margin: 50px auto 0;
  font-size: 5.625rem;
  font-family: 'Dancing Script', cursive;
  color: #f09c67;
  text-shadow: 2px 2px 3px black;
}

h2 {
  font-family: 'PT Mono', monospace;
  font-size: 2rem;
  color: #f09c67;
  text-shadow: 1px 1px 2px black;
}

h3 {
  font-family: 'PT Mono', monospace;
  color: #f7e0a3
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.top-cloud {
  position: absolute;
  right: 15vw;
  top: 8vh;
  width: 10vw;
} 

.bottom-cloud {
  position: absolute;
  width: 13vw;
  left: 13vw;
  bottom: 62vh;
}

.mountain {
  margin-top: 50px;
  width: 35vw;
} 

@media (max-width: 600px) {
  .top-cloud {
    width: 20vw;
  }

  .bottom-cloud {
    top: 18vh;
    width: 15vw;
  }

  .mountain {
    width: 75vw;
  }
}

.selfie {
  width: 15%;
  margin: 50px auto 50px auto;
  border: dotted #f09c67;
  border-radius: 60%;
  padding: 3px;
  width: 50%;
}


@media (max-width: 600px) {
  .selfie {
    width: 50vw;
  }
}

.middle-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}

.profile > p {
  width: 55%;
}

@media (max-width: 600px) {
  .profile {
    width: 100vw;

  }

  .profile > p {
    width: 75%;

  }
}

.apartment {
  width: 25%;
  float: left;
  margin-right: 30px;
}

@media (max-width: 600px) {
  .apartment {
    width: 20vw;
  }
}

.web-programming {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.hello {
  width: 500px;
  margin: auto;
  line-height: 2;
}

.programmer {
  font-weight: normal;
}

.skill-row {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.skill-title2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {

  .skill-title, .skill-title2 {
    justify-content: space-between;
  }

  .skill-row {
    width: 60vw;
  }
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 98vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.row1 > a {
  text-decoration: none;
}

.project-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: 20vw;
  background-color: #f09c67;
  padding: 0 1vw;
}

.project-title {
  background-color: #ac704a;
}

.project-thumb {
  width: 100%;
}

.project-thumb > img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width : 1024px) {
  .project-item {
    width: 30vw;
  }
}

@media (max-width: 600px) {
  .row1 {
    flex-direction: column;
    justify-content: space-around;
    height: 120vh;
  }

  .project-item {
    width: 85vw;
    height: auto;
  }
}

.bottom-container {
  height: 150px;
  padding-top: 50px;
  background-color: #f09c67;
  width: 100vw;
}

@media (max-width: 600px) {
  .contact-me {
    margin-top: -12vh;
  }
}

.contact-me {
  /* margin-bottom: 100px; */
  line-height: 2;
}


.contact-desc {
  width: 600px;
  margin: auto;
}

@media (max-width: 600px) {
  .contact-me {
    width: auto;
    margin-top: 5vh;
  }

  .contact-desc {
    width: 100%;
    margin: 5px;
  }
}

.button {
  width: auto;
  padding: 50px;
  margin-bottom: 20px;
}

.butn {
  background: #fffde8;
  background-image: -webkit-linear-gradient(top, #fffde8, #f09c67);
  background-image: -moz-linear-gradient(top, #fffde8, #f09c67);
  background-image: -ms-linear-gradient(top, #fffde8, #f09c67);
  background-image: -o-linear-gradient(top, #fffde8, #f09c67);
  background-image: linear-gradient(to bottom, #fffde8, #f09c67);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Varela Round', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #f7e0a3;
  background-image: -webkit-linear-gradient(top, #f7e0a3, #4c8492);
  background-image: -moz-linear-gradient(top, #f7e0a3, #4c8492);
  background-image: -ms-linear-gradient(top, #f7e0a3, #4c8492);
  background-image: -o-linear-gradient(top, #f7e0a3, #4c8492);
  background-image: linear-gradient(to bottom, #f7e0a3, #4c8492);
  text-decoration: none;
}

.credit-me {
  position: relative;
  top: 20px;
  font-weight: bold;
  font-size: .75rem;
  color: #fffde8;
}

.footer-link {
  margin-top: 20px;
  color: #f7e0a3;
  padding: 20px;
  text-decoration: none;
  font-weight: bold;
}

.footer-link:hover {
  color: #fffde8;
}

.credit {
  color: #fffde8;
  position: relative;
  top: 60px;
  font-size: 8px;
}
